<h1>Data Viz</h1>
{{Loan_Rate_After_Default_sum}}

<h1>Data Viz</h1>
{{Initial_Interest_Rate_average}}



{% for user in user_list %}
<ul>
    <li>Initial Loan Amount: {{user.Initial_Loan_Amount}}</li> 
    <li>Initial Interest Rate: {{user.Initial_Interest_Rate}}</li>
    <li>Loan Rate After Default: {{user.Loan_Rate_After_Default}}</li>
    <li>Loan Duration: {{user.Loan_Duration}}</li>
    <li>User Final Loan Amount: {{user.Final_Loan_Amount}}</li>
    <li>Overall Rating: {{user.Overall_Rating}} </li>
</ul>
    <!-- <li><a href="#">Test</a></li> -->
{% endfor %}

end of list